
.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 255px;
    height: 250px;
    background-color: var(--color-white);
    transition: 0.3s ease-in-out;
} 
    .terms:hover {
        background-color: var(--color-gray-0);
    }

    .terms .circle {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 6px 4px var(--color-dark-shadow);
        margin-bottom: 30px;
        margin-top: 30px;
        transition: 0.3s ease-in-out;
    }
        .terms:hover .circle {
            background-color: var(--color-gray-0);
        }

    .terms p {
        color: var(--color-gray-3);
        text-align: center;
        margin-bottom: 0;
        
    }
