:root {
    --color-white:           #FFFFFF;
    --color-gray-0:          #F5F5F5;
    --color-gray-1:          #E6E6E6;
    --color-gray-1-5:        #BBBBBB;
    --color-gray-2:          #BEBEBE;
    --color-gray-3:          #616365;
    --color-light-dark:      #222529; 
    --color-dark:            #23262A;
    --color-dark-shadow:     rgba(0, 0, 0, 0.06);
    --color-red:             #FF7373;
    --color-red-hover:       #ff0000;

    --font-poppins:         'poppins', 'sans-serif';
    
    --font-weight-regular:   400;
    --font-weight-medium:    500;
    --font-weight-semibold:  600;
    --font-weight-bold:      700;
    --font-weight-extrabold: 800;
    
    --font-size-13:          13px;
    --font-size-14:          14px;
    --font-size-16:          16px;
    --font-size-18:          18px;
    --font-size-20:          20px;
    --font-size-45:          45px;
    --font-size-65:          65px;

    --max-width:             1680px;
}